body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  #search-form {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  #city-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  main {
    padding: 20px;
  }
  
  #current-weather {
    text-align: center;
  }
  
  .weather-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  #weather-icon {
    width: 100px;
  }
  
  .info {
    text-align: left;
  }
  
  p {
    margin-bottom: 5px;
  }
  
  #additional-info {
    text-align: center;
  }
  